.container-single {
    width: 100vw;
    height: auto;
    }

.title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

/* Partie images */
.container-img {
  display: flex;
  width: 100%;
  height: auto;
}

.single-photo {
    width: 33%;
    height: 50vh;
    object-fit: contain;
}

/* Partie details, processus */
.container-details-process, .container-maquette-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.project-details, .project-process, .maquette-cert, .languages-used {
    padding: 5px;
    width: 44vw;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #4F518C;
}

.project-details:hover, .project-process:hover, .maquette-cert:hover, .languages-used:hover {
    scale: 1.01;
}

.maquette-cert, .languages-used {
    height: 40vh;
}

.paragraph-content {
    padding: 20px;
}

.paragraph-content p {
    font-size: 16px;
}