.container-single {
    width: 100vw;
    height: auto;
    }

.title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

/* Partie images */
.container-img {
  display: flex;
  width: 100%;
  height: auto;
}

.single-photo {
    width: 33%;
    height: 50vh;
    object-fit: contain;
}

.banniere {
    width: 100%;
    margin-top: 1vh;
}

/* Partie details, processus */
.container-details-process, .container-maquette-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.project-details, .project-process, .maquette-cert, .languages-used {
    padding: 5px;
    width: 44vw;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #4F518C;
}

.project-details:hover, .project-process:hover, .maquette-cert:hover, .languages-used:hover {
    scale: 1.01;
}

.maquette-cert, .languages-used {
    height: 30vh;
}

.paragraph-content, .languages-content {
    padding: 20px;
}

.languages-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.languages-content img {
    width: 6vw;
    height: auto;
}

.paragraph-content p {
    font-size: 16px;
}

.paragraph-content a {
    color: #4F518C;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.paragraph-content a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #4F518C;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.paragraph-content a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Navigation bas de page */

.project-navigation {
    display: flex;
    justify-content: center;
    margin: 2vh 0 4vh 0;
}

.project-navigation-link {
    text-decoration: none;
    margin: 0 10px;
    color: #4F518C;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
}

.project-navigation-link i.fas.fa-arrow-left, .project-navigation-link i.fas.fa-arrow-right {
    transition: transform 0.3s ease-in-out;
}

.project-navigation-link:hover i.fas.fa-arrow-left {
    transform: translateX(-5px);
}

.project-navigation-link:hover i.fas.fa-arrow-right {
    transform: translateX(5px);
}

.project-navigation-link:active i.fas.fa-arrow-left, .project-navigation-link:active i.fas.fa-arrow-right {
    transform: translateX(0);
}

.project-link {
    text-align: left;
    font-size: 16px;
}

.project-link:hover, .project-link-right:hover {
    scale: 1.1;
}

.project-link-right {
    text-align: right;
    font-size: 16px;
}

@media (max-width: 768px) {
    .container-img {
        flex-direction: column;
    }
    .single-photo {
        width: 100%;
    }
    .container-details-process, .container-maquette-languages {
        flex-direction: column;
    }
    .project-details, .project-process, .maquette-cert, .languages-used {
        width: 90vw;
        height: auto;
    }
    .project-navigation-link {
        margin: 0 28px;
    }
    .project-link {
        text-align: unset;
        font-size: 14px;
    }  
    .languages-content img {
        width: 14vw;
    }  
}